:host {
  background-color: #fff;
  padding: 0 15px;
  border-radius: 50px;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 50px;
  gap: 0 5px;

  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
  }

  .divider {
    flex: 1 1 0;
  }

  .icon {
    font-size: 20px;
    cursor: pointer;

    &__unchecked {
      color: #263238;
    }

    &__checked {
      color: #00c853;
    }
    &__trash {
      color: #ff1744;
      margin-left: 5px;
    }
  }
}
